{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block extra_style %}
  <style>
    .form {
      margin: auto;
      width: 500px;
    }
  </style>
{% endblock extra_style %}


{% block extra_title %}
  Change Password
{% endblock extra_title %}


{% block body_content %}
  <div class="container mt-5 form">
    <h3 class="text-center">
      Change Password
    </h3>
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {{form | crispy}}
      
      <input type="submit" value="Change Password"
        class="btn btn-success">
    </form>
  </div>
{% endblock body_content %}