{% extends 'base.html' %}


{% block extra_title %}
  {{article.title}}
{% endblock extra_title %}


{% block extra_style %}
{% endblock extra_style %}


{% block body_content %}
  <div class="container mt-4">
    <h1>{{ article.title }}</h1>
    <h6>Published on {{ article.published }} 
      - By <i>{{ article.author }}</i>
    </h6>
    <hr>
    <p>{{ article.description }}</p>

    {% if request.user == article.author %}
      <a href="{% url 'update-article' article.slug %}"
        class="btn btn-danger mx-3 mt-3">
        Update
      </a>
      <a href="{% url 'delete-article' article.slug %}"
        class="btn btn-danger mx-3 mt-3">
        Delete
      </a>
    {% endif %}
  </div>
{% endblock body_content %}