{% extends 'base.html' %}


{% block extra_style %}
  <style>
    .link-style {
      text-decoration: none;
      color: black;
    }

    .link-style:hover {
      text-decoration: none;
      color: gray;
    }
  </style>
{% endblock extra_style %}


{% block extra_title %}
  All Articles
{% endblock extra_title %}


{% block body_content %}
  <div class="container mt-5">
    {% for article in articles %}
      <div class="card border-info mb-3">
        <div class="card-header">
          <span class="badge rounded-pill bg-success">
            Author: {{ article.author }}
          </span>
        </div>
        <div class="card-body">
          <h4>
            <a href="{% url 'article-detail' article.slug %}" class="link-style">
              {{ article.title }}
            </a>
          </h4>
        </div>
      </div>
    {% endfor %}

    <div class="mt-4">
      {% include 'article/pagination.html' with page=articles %}
    </div>
  </div>
{% endblock body_content %}
